{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block header %}
<h1>The Prevalence of Cancer in Canada</h1>
{% endblock %}

{% block content %}
</div>
<h5>Description:</h5>
</div>
<div class="row">
    This dashboard uses interactive visualization tools to demonstrate the different types of cancers and their
    prevalences across each province of Canada, from the 2016-2017 Canadian Cancer Society dataset. The map visualizes
    all of Canada with a dropdown menu of all cancers. Our dashboard also contains interactive bar charts including the
    top 10 most prevalent cancers in each province, including a comparison chart between male and female data.
</div>
<br>
</div>
<h5>Tools and Technology:</h5>
</div>
<div class="row">
    Leaflet
</div>
<div class="row">
D3.js
</div>
<div class="row">
    Plotly
</div>
<div class="row">
    Chart.js
</div>
<div class="row">
    Javascript
</div>
<div class="row">
    HTML
</div>
<div class="row">
    CSS
</div>
<div class="row">
    Flask
</div>
<div class="row">
    SQLite
</div>

</div>
{% endblock %}