{% extends 'base.html' %}

{% block title %}Analysis{% endblock %}

{% block header %}
<h1>Findings and Analysis</h1>
{% endblock %}

{% block content %}
</div>
<h5>Findings:</h5>
</div>

<div class="row"></div>
Across all provinces, the three highest cancer prevalences found were breast, prostate, and colorectal cancer. Ontario
appears to have the highest number of most cancers, which could be due to Ontario having the highest population out of
all provinces. Nunavut has the lowest number of most cancers which could also be attributed to its low population.
</div>
<div class="row"></div>
Sex differences:
</div>
<div class="row"></div>
Cancers more prevalent in females: breast, uterine, lung and bronchus
</div>
<div class="row"></div>
Cancers more prevalent in males: prostate, colorectal, bladder
</div>
<br>
<br>
</div>
<h5>Analysis:</h5>
</div>
<div class="row">
    The findings from the data suggest that there is a high prevalence of breast, prostate, and colorectal cancer across
    all provinces/territories, according to the Canadian Cancer Society dataset. However, the dataset dates back to
    latest 2017, which means true prevalence may have changed in recent times. With these findings however, our team
    proposes to acquire funding in clinical trials and research in the more prevalent cancers, in order to invent
    medicines and take more preventive measures.
</div>
<div class="row">
    In terms of implications, the map provides a visual representation of the areas with the highest number of
    individuals affected by the different types of cancers. This can help provincial government jurisdictions to plan
    resource allocation for healthcare in order to reduce the burden caused by cancer.
</div>
{% endblock %}