{% extends 'base.html' %}

{% block title %}Visualization{% endblock %}

{% block header %}
<!-- TODO: change this title -->
<h1>Summary of songs from 1922 to 2021</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Cancer prevalance across Canada Dashboard</h1>
      <p>Use the interactive charts below to explore the dataset</p>
    </div>
  </div>
  <div class="row">
    <div class="well">
      <h5>Cancer Types:</h5>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <!-- The div where we'll insert our map -->
      <div id="map" style="width: 800px; height: 600px;"></div>
    </div>
    <div class="well">
      <h5>Province/Territory:</h5>
      <select id="selProvince" onchange="provinceChanged(this.value)"></select>
      <!-- The div where we'll insert our barchart -->
      <div id="barchart" style="width: 600px; height: 400px;"></div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}" async></script>
<!-- <script src="{{ url_for('static', filename='js/summary.js') }}"></script> -->
{% endblock %}